{% extends "data/main2.html" %}
{% load widget_tweaks %}
{% block content %}
<style type="text/css">
    .right {
        position: absolute;
        right: 2%;
        width: 150px;
    }
</style>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card card-body">
                <h5>Customer:</h5>
                <hr>
                <a class="btn btn-outline-info btn-sm btnblock" href="">Update Customer</a>
                <a class="btn btn-outline-danger btn-sm btnblock" href="">Delete Customer</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-body">
                <h5>Contact Information</h5>
                <hr>
                <p>Email: </p>
                <p>Phone: </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-body">
                <h5>Total Orders</h5>
                <hr>
                <h1 style="text-align: center;padding: 10px"></h1>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Tgl SPP</th>
                        <th>Bulan</th>
                        <th>Status</th>
                        <th>Tahun</th>
                        <th>Aksi</th>>
                    </tr>
                    {% for sppsiswa in sppsiswa %}
                    <tr>
                        <td>{{ sppsiswa.date_created|date:"l, d N Y" }}</td>
                        <td>{{ sppsiswa.bulan }}</td>
                        <td>{{ sppsiswa.status}}</td>
                        <td>{{ sppsiswa.tahun}}</td>
                        <td><a href="{% url 'ispp_siswa' sppsiswa.id %}"
                                class="btn btn-success">Update</a></td>
                    </tr>
                    {% endfor %}
                </table>
                <hr />

            </div>
        </div>
    </div>
</div>
{% endblock content %}